.main-header {
    background: url(../img/introduction/1/banner.jpg) no-repeat;
    background-size: cover;
    min-height: 610px;
}

.bg-image-2 {
    background: url('../img/introduction/1/banner2.jpg') no-repeat center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
